body {
  font-family: "Bookman", serif;
}
h1 {
  font-size: 36px;
}
li {
  margin: 10px;
}
a {
  text-decoration: none;
  color: blue;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.nav-links {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}
