/*
This would zero out all margins and padding
on all elements and styles
*{
    margin:0;
    padding:0;
}
*/

header{
    color:green;
    text-align:center;
    background-color:gray;
    padding:10px;
}

body{
    background-color:black;
    color:white;

    font-family: Garamond,serif;
    font-size:18px;
    font-weight:bold;

    Line-height:1.6em;
    margin:0;    
}

a{
    text-decoration:none;
    color:mint;
}

#box-1{
    background-color:green;
}

.container{
    width:80%;
    margin:auto;
}

.box-2{
    background-color:orange;

    border:5px blue solid;
    border-style:ridged;

    padding:50px;

    margin-top:2px;
}

#item3{
    font-family:"Gill Sans", sans serif;
    text-decoration:underline;
    text-transform:uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;
}

.links{
    text-align:center;
    list-style-position:inside;
    border:1px #ccc solid;
    padding:20px;
    border-radius:15px;
}

footer{
    color:green;
    background-color:gray;
    text-align:center;
    font-size:18px;
}

